<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TinyURLEntities" connectionString="metadata=res://*/TinyURLModel.csdl|res://*/TinyURLModel.ssdl|res://*/TinyURLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PADMN-PC;initial catalog=TinyURL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>